---
import PizzaParty from '../components/PizzaParty.jsx';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pizza Party!</title>
    <style>
      * { margin: 0; padding: 0; }
    </style>
  </head>
  <body>
    <PizzaParty client:only="react" />
  </body>
</html>
